.new-collection-form{
    margin-top: 10px
}
.new-collection{
    margin-bottom: 40px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: khaki;
}