.container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px ;
}

div.collection{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
}

.flashcard{
    height: 250px;
    width: 500px;
    background-color:lightblue;
}