.container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 25px ;
}

div.collection{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
}

.flashcard{
    height: 100px;
    width: 400px;
    background-color:lightblue;
}